<div style="display: flex; align-items: center; margin: 16px 0">
  <h1 mat-dialog-title style="margin: 0 16px;">Add Contact</h1>
  <mat-icon color="primary">badge</mat-icon>
</div>
<div class="input-container">
  <mat-form-field appearance="standard">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="First Name" required>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Last Name">
  </mat-form-field>
</div>
<div class="input-container">
  <mat-form-field appearance="standard">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" required>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Phone</mat-label>
    <input matInput placeholder="Phone" required>
  </mat-form-field>
</div>
<mat-form-field class="input-container dialogSelect">
  <mat-label>Status</mat-label>
  <mat-select [(value)]="status">
    <mat-option disabled>Select</mat-option>
    <mat-option value="active">Active</mat-option>
    <mat-option value="inactive">Inactive 2</mat-option>
  </mat-select>
</mat-form-field>
<div mat-dialog-actions class="m-l-16">
    <button class="m-h-16" mat-stroked-button (click)="onNoClick()">Cancel</button>
    <button class="m-h-16" mat-stroked-button [mat-dialog-close]="data" cdkFocusInitial>Add</button>
</div>